<header>
    <div class="ymp-header"></div>
    <div class="sub-header">
        <ul class="left">
            <li><a href="#">Rechercher un lieu <strong>Pets Friendly</strong></a></li>
            <li><a href="#">Consulter l'annuaire</a></li>
        </ul>
        <ul class="right">
            <li><a class="btn-join-fidolia" href="#">Rejoindre le label Fidolia</a></li>
            <li><a href="#">Espace pro</a></li>
        </ul>
    </div>
</header>
<div class="home-first-block">
    <leaflet class="map" center="map.center" layers="map.layers"></leaflet>
    <form class="form-home">
        <input type="text" name="what" class="input-what" placeholder="Essayer avec restaurant ou hôtel">
        <input type="text" name="where" class="input-where" placeholder="à Bordeaux, France">
        <a href="#" class="btn btn-go">GO</a>
    </form>
    <div class="clear"></div>
</div>
<div class="intro-text">
    <h1>Bienvenue sur le service Pets Friendly de Yummypets.</h1>
    <p>Emmenez votre compagnon partout avec vous grâce à notre réseau Pets Friendly et à nos lieux labellisés Fidolia. Fini les soucis, vous avez désormais accès  aux lieux qui acceptent votre animal partout en France. Partez l’esprit libre et profitez dès maintenant de notre service pour que votre animal vous accompagne où que vous soyez !</p>
</div>
<div class="illu-first-block">
</div>

<div class="home-second-block home-block">
    <div class="illu"></div>
    <div class="desc">
        <h2>Tous les lieux pour vous et votre animal de compagnie.</h2>
        <ul class="content">
            <li><strong>Bars / Restaurants :</strong> détendez-vous autour d’un verre ou d’un plat en compagnie de votre animal  </li>
            <li><strong>Hôtels :</strong> trouvez la chambre idéale pour passer vos nuits avec votre pet</li>
            <li><strong>Campings :</strong> partez à l’aventure dans les campings qui acceptent votre animal</li>
            <li><strong>Taxis :</strong> trouvez le taxi qui emmènera votre animal avec vous</li>
            <li><strong>Dogs parcs :</strong> promenez votre animal dans les lieux propices </li>
            <li><strong>Plages :</strong> ressourcez-vous en profitant pleinement de votre animal</li>
        </ul>
    </div>
    <div class="clear"></div>
</div>

<div class="home-third-block home-block">
    <div class="desc">
        <h2>Organisez et planifiez vos vacances et voyages en toute tranquillité.</h2>
        <p>Avec le service Pets Friendly vous avez accès à toutes les informations utiles pour voyager avec votre animal de compagnie :</p>
        <ul class="content">
            <li><strong>Découvrez</strong> tous les lieux qui acceptent votre animal</li>
            <li><strong>Réservez</strong> une nuit parmi les hôtels référencés au label Fidolia</li>
            <li>Découvrez de <strong>nouveaux lieux</strong> pour promener votre pet</li>
            <li><strong>Consultez et postez des avis</strong> sur les endroits visités</li>
            <li><strong>Profitez</strong> de nos conseils pour <strong>voyager</strong> sereinement avec votre animal de compagnie</li>
        </ul>
    </div>
    <div class="illu"></div>
    <div class="clear"></div>
</div>

<div class="home-fourth-block home-block">
    <div class="illu"></div>
    <div class="desc">
        <h2>Le label FIDOLIA, c’est quoi ?</h2>
        <p>Faites partie de l’aventure! Fidolia est le label du service Pets Friendly qui <strong>garantit l’acceptation de votre animal dans les lieux publics</strong>, les hôtels, restaurants, campings, bars...</p>
        <p><strong>Proposez à un lieu</strong> d’apposer le label Pets Friendly dans son établissement </p>
        <p>Recevez nos stickers Fidolia (pour vous et l’établissement)</p>
    </div>
    <div class="clear"></div>
</div>

<div class="home-fifth-block home-block">
    <div class="desc">
        <h2>Vous êtes un professionnel ?</h2>
        <p>Vous êtes un bar, un restaurant, un hôtel, un camping ou un lieu public et <strong>vous acceptez les animaux de compagnie</strong> ?</p>
        <p>Vous souhaitez faire parti du label FIDOLIA et profiter ainsi de nos <strong>milliers d’utilisateurs</strong> ?</p>
        <p>Inscrivez-vous dans <strong>le 1er label</strong> référençant tous les lieux qui acceptent les animaux de compagnie.</p>
    </div>
    <div class="illu"></div>
    <div class="clear"></div>
</div>
<footer class="home-footer"></footer>