<header class="header-app">
    <div class="ymp-header"></div>
    <div class="sub-header">
        <ul class="left">
            <li><a href="#/search">Rechercher un lieu <strong>Pets Friendly</strong></a></li>
            <li><a href="#">Consulter l'annuaire</a></li>
        </ul>
        <ul class="right">
            <li><a class="btn-join-fidolia" href="#/login">Rejoindre le label Fidolia</a></li>
            <li><a href="#/pro">Espace pro</a></li>
        </ul>
    </div>
</header>
<div class="login-block" id="login-block">
    <h1>Rejoignez tout de suite le label Fidolia</h1>
    <div class="fields-search">
        <form name="loginform" novalidate>
            <input type="email" name="user_email" class="input-email" ng-model="user.email"  placeholder="Votre adresse email" required>
            <input ng-minlength="6" type="password" name="user_password" class="input-password" ng-model="user.password"  placeholder="Votre mot de passe" required>
            <button class="btn" ng-disabled="loginform.$invalid" id="btn-search" ng-click="login(loginform)">
                Connexion
            </button>
        </form>
    </div>
    <div class="error" ng-show="error != ''">{{error}}</div>
    <div class="error" ng-show="loginform.user_email.$error.email">Cet email n'est pas valide</div>
    <div class="error" ng-show="loginform.user_password.$error.minlength">
        Le mot de passe doit contenir au minimum 6 caractères
    </div>
    <div class="error" ng-show="loginform.user_email.$error.required || loginform.user_password.$error.required">Tous les champs sont requis</div>
</div>

<script>
    $(document).ready(function(){
        VerticalCenter($("#login-block"));
    });
</script>