<header class="header-app">
    <div class="ymp-header"></div>
    <div class="sub-header">
        <ul class="left">
            <li><a href="#">Rechercher un lieu <strong>Pets Friendly</strong></a></li>
            <li><a href="#">Consulter l'annuaire</a></li>
        </ul>
        <ul class="right">
            <li><a class="btn-join-fidolia" href="#">Rejoindre le label Fidolia</a></li>
            <li><a href="#">Espace pro</a></li>
        </ul>
    </div>
</header>
<div class="wrap-map">
    <leaflet class="map-app" markers="map.markers" center="map.center" layers="map.layers"></leaflet>
</div>
<div class="start-search-block" id="start-block">
    <h1>Rechercher les lieux qui acceptent votre animal de compagnie.</h1>
    <div class="fields-search">
        <input type="text" name="what" class="input-what" id="search-what" value="restaurant" placeholder="Essayer avec restaurant ou hôtel">
        <input type="text" name="where" class="input-where" id="search-where" value="bordeaux" placeholder="à Bordeaux, France">
        <button class="btn" ng-click="search()">Lancer la recherche</button>
        <h5 class="no-result">Aucun résultats pour cette recherche</h5>
    </div>
</div>
<div class="item-current-over">
    <div class="title" ng-show="currentItem.title != ''">{{currentItem.title}}</div>
    <div class="clear"></div>
    <div class="type" ng-show="currentItem.type != ''">{{currentItem.type}}</div>
</div>
<div class="result-search-zone" ng-mouseleave="leaveItem(item.id)">
    <div class="result-search-column">
        <div class="result-controls">
            <form>
                <input type="text" name="what" id="search-what-inline" class="input-what" value="" placeholder="Café">
                <input type="text" name="where" id="search-where-inline" class="input-where" value="" placeholder="à Bordeaux, France">
            </form>
            <div class="result-search-tags">
                <span class="title-tags">Trier les résultats par :</span>
                <ul>
                    <li ng-click="sortValue.active =! sortValue.active;" class="pointer" ng-repeat="sortValue in sortResultValues" ng-class="{selected: sortValue.active}">
                        {{sortValue.libelle}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="result-search-scroll">
            <div ng-repeat="item in results | orderBy:currentSort" class="result-search-elmt pointer" ng-mouseenter="enterItem(item.id)" ng-class="item.typeResult" data-id="{{item.id}}" ng-click="getDetails(item.id)">
                <figure ng-show="item.typeResult == 'featured'">
                    <img class="bandeau-featured" src="assets/img/bandeau-featured.png"/>
                    <img class="img-featured" src="assets/img/ex-pic-featured.png"/>
                </figure>
                <figure ng-show="item.typeResult == 'popular'">
                    <img class="bandeau-popular" src="assets/img/bandeau-popular.png"/>
                    <img class="icn-type-elmt" src="assets/img/ex-icn-bar.png"/>
                </figure>
                <div class="informations-elmt">
                    <img class="icn-type-elmt" src="assets/img/ex-icn-bar.png"/>
                    <h3>
                        {{item.name}}
                        <small>{{item.cat}} <span class="distance" ng-show="item.distance">- {{item.distance}} km</span></small>
                    </h3>
                    <span class="reviews">
                        <span class="reviews-nb">17 avis</span>
                        <ul class="note">
                            <li class="note-ok" ng-repeat="note in range(item.goodnotes)">
                                <img src="assets/img/icn-note.png"/>
                            </li>
                            <li class="note-ko" ng-repeat="note in range(item.badnotes)">
                                <img src="assets/img/icn-note.png"/>
                            </li>
                        </ul>
                    </span>
                    <div class="clear"></div>
                </div>
                <div class="desc-elmt">
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer-app">
        <a href="#" class="powered-by">
            Fidolia est un service fièrement propulsé par Yummypets.
        </a>
        <ul class="corporate">
            <li><a href="#">À propos </a></li>
            <li><a href="#">Plan du site </a></li>
            <li><a href="#">Mentions légales </a></li>
            <li><a href="#">Contact</a></li>
        </ul>
</footer>
<script>

$(document).ready(function(){

    var height = $(window).height() - $('header').height() - $('footer').height();
    $('.result-search-zone').css('height',height);

    height = height - $('.result-controls').height() -5 ; // Offset de 5 
    $('.result-search-scroll').css('height',height);

    var $searchBlock = $(".start-search-block");
    var searchBlockHeight = $searchBlock.height();
    var searchBlockMarginTop = Math.floor(($(window).height() - searchBlockHeight) / 2);
    if (searchBlockMarginTop > 0)
        $searchBlock.css("margin-top", searchBlockMarginTop);

    $(".result-search-scroll").mCustomScrollbar({scrollInertia:150});

});

</script>