<header class="header-app">
    <div class="ymp-header"></div>
    <div class="sub-header">
        <ul class="left">
            <li><a href="#">Rechercher un lieu <strong>Pets Friendly</strong></a></li>
            <li><a href="#">Consulter l'annuaire</a></li>
        </ul>
        <ul class="right">
            <li><a class="btn-join-fidolia" href="#">Rejoindre le label Fidolia</a></li>
            <li><a href="#">Espace pro</a></li>
        </ul>
    </div>
</header>
<div class="wrap-map">
    <leaflet class="map-app" markers="map.markers" center="map.center" layers="map.layers"></leaflet>
</div>
<div class="start-search-block" id="start-block">
    <h1>Rechercher les lieux qui acceptent votre animal de compagnie.</h1>
    <div class="fields-search">
        <input type="text" name="what" class="input-what" id="search-what" placeholder="Essayer avec restaurant ou hôtel">
        <input type="text" name="where" class="input-where" id="search-where" placeholder="à Bordeaux, France">
        <button class="btn" ng-click="search()">Lancer la recherche</button>
    </div>
</div>
<div class="result-search-zone">
    
    <div class="result-search-column">
        <div class="result-controls">
            <form>
                <input type="text" name="what" class="input-what" placeholder="Café">
                <input type="text" name="where" class="input-where" placeholder="à Bordeaux, France">
            </form>
            <div class="result-search-tags">
                <span class="title-tags">Trier les résultats par :</span>
                <ul>
                    <li class="selected"><a href="#">En avant</a></li>
                    <li class="selected"><a href="#">Populaires</a></li>
                    <li><a href="#">Type</a></li>
                    <li><a href="#">Distance</a></li>
                    <li><a href="#">Ouvert</a></li>
                    <li><a href="#">Prix</a></li>
                </ul>
            </div>
        </div>
        <div class="result-search-scroll">
            <div ng-repeat="item in results" class="result-search-elmt featured" data-id="{{item.id}}">
                <figure>
                    <img class="bandeau-featured" src="assets/img/bandeau-featured.png"/>
                    <img class="img-featured" src="assets/img/ex-pic-featured.png"/>
                </figure>
                <div class="informations-elmt">
                    <img class="icn-type-elmt" src="assets/img/ex-icn-bar.png"/>
                    <h3>
                        {{item.nom}}
                        <small>{{item.type}} <span class="distance">- {{item.distance}}</span></small>
                    </h3>
                    <span class="reviews">
                        <span class="reviews-nb">17 avis</span>
                        <ul class="note">
                            <li class="note-ko" ng-repeat="note in item.badnotes">
                                <img src="assets/img/icn-note.png"/>
                            </li>
                            <li class="note-ok" ng-repeat="note in item.goodnotes">
                                <img src="assets/img/icn-note.png"/>
                            </li>
                        </ul>
                    </span>
                    <div class="clear"></div>
                </div>
                <div class="desc-elmt">
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer-app">
        <a href="#" class="powered-by">
            Fidolia est un service fièrement propulsé par Yummypets.
        </a>
        <ul class="corporate">
            <li><a href="#">À propos </a></li>
            <li><a href="#">Plan du site </a></li>
            <li><a href="#">Mentions légales </a></li>
            <li><a href="#">Contact</a></li>
        </ul>
</footer>
<script>

$(document).ready(function(){

    var height = $(window).height() - $('header').height() - $('footer').height();
    $('.result-search-zone').css('height',height);

    height = height - $('.result-controls').height() -5 ; // Offset de 5 
    $('.result-search-scroll').css('height',height);

    var $searchBlock = $(".start-search-block");
    var searchBlockHeight = $searchBlock.height();
    var searchBlockMarginTop = Math.floor(($(window).height() - searchBlockHeight) / 2);
    if (searchBlockMarginTop > 0)
        $searchBlock.css("margin-top", searchBlockMarginTop);

    $(".result-search-scroll").mCustomScrollbar({scrollInertia:150});

});

</script>