<header>
    <div class="ymp-header"></div>
    <div class="sub-header">
        <ul class="left">
            <li><a href="#/search">Rechercher un lieu <strong>Pets Friendly</strong></a></li>
            <li><a href="#">Consulter l'annuaire</a></li>
        </ul>
        <ul class="right">
            <li><a class="btn-join-fidolia" href="#/plans">Rejoindre le label Fidolia</a></li>
            <li><a href="#/login">Espace pro</a></li>
        </ul>
    </div>
</header>
<div id="plansContainer">
<div class="plans">
    <div class="block basique">
        <div class="illu-offre-basique"></div>
        <h1>Offre basique</h1>
        <ul>
            <li>Mettez en valeur votre lieu en postant 2 photos</li>
            <li>Référencez votre lieu parmi un catalogue qualitatif ultra ciblé</li>
            <li>Augmentez votre CA et votre visibilité</li>
            <li>Profitez de la viralité de la plus grosse communauté de propriétaires d’animaux de compagnie en France (+ de 150 000 membres)</li>
            <li>Faites partie de nos recommandations*</strong></li>
        </ul>
        <div class="actions">
            <span class="price">Gratuit</span>
            <a class="btn btn-choose" href="#/join">Choisir cette offre</a>
        </div>
        <p id="recom">*Recommandations: Pets Friendly récompense les établissements labellisés Fidolia qui ont les meilleures notes et qui sont les plus consultés</p>
    </div>
    <div class="separator"></div>
    <div class="block premium">
        <div class="illu-offre-premium"></div>
        <h1>Offre premium</h1>
        <ul>
            <li><strong>Tout ce qui est compris dans l'offre gratuite</strong></li>
            <li class="icn-plus">+</li>
            <li>Postez jusqu'à <strong>5 photos</strong> de votre établissement</li>
            <li>Profitez d’une plus grande visibilité et augmenter votre CA :</li>
                <ul class="inline">
                    <li>en apparaissant dans notre rubrique “A la une”</li>
                    <li>en remontant dans les recherches grâce à la possibilité de rentrer des mots clés</li>
                    <li>en bénéficiant d’un article sponsorisé sur notre blog</li>
                </ul>
            <li>Accédez aux statistiques pour connaître au mieux votre client et son parcours utilisateur</li>
            <li>Augmentez votre base fans sur les réseaux sociaux grâce aux relais via nos comptes sociaux</li>
        </ul>
        <div class="actions">
            <span class="price">5,99<small>euros/mois</small></span>
            <a class="btn btn-choose" href="#/join">Choisir cette offre</a>
        </div>
        <p id="recom">*A la une: les établissements ayant souscrits à l'Offre Premium bénéficient d'une visibilité plus importante en apparaissant dans la rubrique "A la une" visible par tous.</p>
    </div>
    <div class="clear"></div>
</div>
</div>